<table id="search-results-table" {% if results == None %}style="display: none;"{% endif %}>
    <thead>
        <tr>
            <td>Nazwa</td>
            <td>Lokalizacja</td>
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
            <tr>
                <td>{{ result.name }}</td>
                <td>{{ result.location }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>