{% extends "admin/base_site.html" %}

{% block title %}Szukaj stacji{% endblock %}
{% block extrahead %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        const requestUrl = '{{ api_request_url }}';
        const makeRow = (name, location) => $(`<tr><td>${name}</td><td>${location}</td></tr>`);

        $(document).ready(() => {
            const nameInput = $('input[name=name]');
            const searchTableNode = $('table#search-results-table');
            const searchTableBody = searchTableNode.find('tbody');

            nameInput.keyup(() => {
                const value = nameInput.val();
                if (value.trim().length === 0) {
                    searchTableNode.css('display', 'none');
                    return;
                }

                (async () => {
                    try {
                        const response = await fetch(requestUrl + value);
                        const data = await response.json();

                        if (data.length === 0) {
                            searchTableNode.css('display', 'none');
                        } else {
                            searchTableBody.empty();
                            data.forEach(({name, location}) => searchTableBody.append(makeRow(name, location)));
                            searchTableNode.css('display', 'table');
                        }
                    } catch (error) {
                        console.error(error)
                    }
                })();
            });
        });
    </script>
{% endblock %}

{% block content %}
    <form action="{{ form_action }}" method="post">
        {% csrf_token %}
        {{ form }}
        <noscript>
            <button type="submit">Szukaj</button>
        </noscript>
    </form>
    {{ search_results_table }}
{% endblock %}